/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-nop-blocks-animated-logo {
	font-feature-settings: "ss02" 1;
	&:hover,
	&:focus {
		.nop-logo--icon {
			transition-delay: 0s;
			stroke-dashoffset: 223;
		}
		.nop-logo--lettering {
			opacity: 1;
			transition-delay: 0.9s;
		}
	}
	&:focus {
		background: var(--wp--preset--color--contrast);
		outline-offset: -1px;
	}
	a, svg {
		display: block;
		text-decoration: none;
	}
}
.nop-logo--icon {
	stroke-dasharray: 223;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 1s ease-in-out;
}
.nop-logo--lettering {
	opacity: 0;
	transition: opacity 0.2s ease;
	transition-delay: 0s;
}
